.container
  %h1 Planning a Party?
  %p
    Escape Rooms are a fantastic, new and exciting, event, perfect for parties!
  %p
    Our Conshohocken Escape Room is conveniently located between hot spots like King of Prussia,
    Philadelphia, Manayunk, and Conshy!  Whether you're planning on kicking off your night,
    or wrapping it up, Project Escape is a great choice for a fun time out with friends!
  %p
    %h1
      %i It's more fun with
      %b friends!
    While we can definitely accommodate more or less (up to 10) friends,
    We recommend at least 8 players for each room! No need for competition! Finally an
    activity where you and your friends work together to win!  You'll have a blast throughout.
  %p
    Ready to book?  It's easy, click the link above to BOOK NOW!, find a time slot that works for
    you and your party, follow the on screen prompts and then you're ready to go!
  %hr

    Please call us at
    %i.fa.fa-mobile-phone.phone.black
    %span.phone-number.black
      ="484-535-3108"
    for any questions, or Book Now! and prepare for one of the most exciting hours of your life!
  %br
  %br
  %br
  %br
  %br
  %br
