.container
  .row
    .col-lg-8.col-md-8.col-sm-12
      %h2
        Directions
      %p
        Project Escape is in a convenient location accessible from areas throughout the Philadelphia region!
        We are a block away from the NA Ikea Headquarters, on the corner of Alan Wood Rd and Ridge Pike in Conshohocken!
      %p
        Plenty of on site parking, and lots of other entertainment venues in the area will make your night
        at Project Escape a night to remember!
      %hr
      %p Camp Adventureland - Axe Throwing is located right off the Willow Grove exit - only 15 minutes from Project Escape!
    .col-lg-8.col-md-8.col-sm-12
      .google-maps
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3051.929665122749!2d-75.30555008522151!3d40.099281079403255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6bdd7b4d7f45b%3A0x1cfb008a05174201!2sProject+Escape!5e0!3m2!1sen!2sau!4v1462589360329", :style => "border:0", :width => "600"}
    %hr
    .col-lg-8.col-md-8.col-sm-12
      .google-maps
        %iframe{:allowfullscreen => "", "aria-hidden" => "false", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3048.723188970062!2d-75.13488008518131!3d40.170716479394535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6af8f515666e1%3A0x4e0af8129beb5b08!2sCamp%20Adventureland%20-%20Horsham!5e0!3m2!1sen!2sus!4v1595269286194!5m2!1sen!2sus", :style => "border:0;", :tabindex => "0", :width => "600"}