-if !nowrite
  -written = message
-else
  -written = ""

%li.red
  =link_to "http://192.168.1.10:5000/play/#{audioid}",
    message:written,
    remote:true,
    class: "message" do
    %i.fa.fa-play
  ="#{message}"

