%br
%br
%br

.center
  .flip
    .center.compass
      %p.white-text.bigger
        Born, and lost,
      %p.white-text.bigger
        Each artists leaves a symbol
      %p.white-text.bigger
        Its number will point you in the right direction.
      %hr
      .compass-text
        1 = S  |  2 = NW  |  3 = W  |  4 = SW
      %br
      =image_tag("busts.png",size:"700x350")
      .compass-text
        5 = E  |  6 = NE  |  7 = N  |  8 = SE