.container
  %h1 Planning a Corporate Event?
  %p
    Challenge your colleagues with live action, interactive game play at Project Escape.   
    A room full of mind bending puzzles and brainteasers that will test your team’s
    %span.black communication skills,
    %span.black listening abilities
    and
    %span.black problem-solving
    expertise. 
    It is all about
    %span.black collaboration,
    and how your team pulls together while under pressure.
  %p
    Our games offer a perfect team building experience which requires
    %span.black intense cooperation
    and
    %span.black team work
    for up to 10 team members.
  %hr

  %p
    We are happy to work with your facilitator to cater to your office needs. 
    We offer a post team analysis of your experience and recorded video if interested.
    Managers can also sit along side our game masters and watch your team tackle the room live via
    our monitoring system.
    We also have a complimentary private room for meeting before/after your event to discuss your
    challenges and successes.
  %p
    We are looking forward to guiding you through the newest and most exciting team building
    experience in the Philadelphia area. 
  %p
    Please call us at
    %i.fa.fa-mobile-phone.phone.black
    %span.phone-number.black
      ="484-535-3108"
    to discuss any questions you may have and the different packages we offer.
