.row
  .col-xl-4.col-lg-4.col-md-4.col-sm-12.event
    .event-icon
      .fa.fa-car
    .event-label
      A Unique Night Out
    %p
      %br
        Looking for something new to try?  Escape Rooms are tons of fun, and
        something you've never tried before!
      %br
        Bring just one friend, or all of them, and team up to solve puzzles and overcome obstacles, and successfully
        escape the room!  It's an hour long experience
        that will give you loads to talk about, and is a great addition to any night out!
  .col-lg-4.col-md-4.col-sm-12.event
    .event-icon
      .fa.fa.fa-birthday-cake
    .event-label
      Celebrate Special Events
    %p
      %br
        If you would like to have a special event such as a birthday party, bachelor/ette party,
        or anything else you can think of make sure to give us a call!  We would be happy to discuss
        flexible party sizes, private room bookings, and catering!
  .col-lg-4.col-md-4.col-sm-12.event
    .event-icon
      .fa.fa-users
    .event-label
      Collaborative Team Building
    %p
      %br
        Project Escape's puzzles require strong team work and cooperation to complete!  With
        only 1 hour to get out, your team will have to work together or fail! Either way, they'll
        have a great time!
      %br
        Call now to schedule a time slot for your team!  We are offering customized options for
        teams of all sizes.  Check it out!