.container
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      %hr
  .row
    .col-lg-4.col-md-4.col-sm-6.col-xs-12.center
      =image_tag ('nuke-logo-wide.png'),  style: 'width:100%;height:auto;max-width: 400px'
    .col-lg-8.col-md-8.col-sm-6.col-xs-12
      %h1.h1custom1
        The Meltdown!
        %p
          %i (min 3 players | 8 max)
      %p Difficulty: 10/10! (Only book if you want a challenge!)
      %p
        Prevent the nuclear meltdown in Project Escape's newest room!
      %p
        You are new employees and your first day is not going to go as planned!
      %p
        A disaster occurs and it's going to be up to you and your team to stop the Nuclear Meltdown and save the city!
      =render 'layouts/bookings'
      %br
      %br
      %br
  .row
    .col-lg-4.col-md-4.col-sm-6.col-xs-12.center
      =image_tag ('heist-banner.png'),  style: 'width:100%;height:auto;max-width: 400px'
    .col-lg-8.col-md-8.col-sm-6.col-xs-12
      %h1.h1custom1
        The Big Score
        %p
          %i The Heist of the Century (min 4 players | 10 max)
      %p Difficulty: 6/10! (A great adventure for new and experienced escape room goers!)
      %p
        %b
          An
          %span.yellow instant classic!
          This is the perfect room for new escape room goers!
          Offering a
          %span.yellow moderate difficulty
          level, by the time you are done, you'll be an escape room
          vet, and ready for our next, slightly more challenging room!
      %hr
      %p
        You have been recruited by the infamous and renowned
        theft ring, the
        %strong Shrouded Hand,
        and tasked with stealing one of the most famous diamonds in the world,
        the
        %strong Millennium Diamond!
      %p
        The mark? The Viper - one of the head bosses of the Syndicate, a darker, more
        ruthless theft ring.
      %p
        Break in, steal the diamond, then get out!  Be quick though, you only have an hour before
        The Viper and his goons get back!
      %p
        Are you up to the task?
      =render 'layouts/bookings'
  %hr
  .row
    .col-lg-4.col-md-4.col-sm-6.col-xs-12.center
      =image_tag ('banner-harrypotter.png'),  style: 'width:100%;height:auto;max-width: 400px'
    .col-lg-8.col-md-8.col-sm-6.col-xs-12
      %h1.h1custom1
        The Wizard's Secret
        %p
          %i (min 3 players | 8 max)
      %p Difficulty: 7/10! (A moderate difficulty!)
      %p
        Escape from the dreaded Witch and Wizard Prison!
      %p
        You have been tricked by a dark wizard and forced to take his spot in the dreaded prison. Your easiest task will be escaping the cell!
      %p
        Once you're out, you'll encounter a magical world of potions, spells and wizardry!  Can you figure out the Wizard's secret before the guards realize you're gone?!
      =render 'layouts/bookings'