.container
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.center.background-axe
      .ca-logo-axe
        =link_to "https://campadventureland.com/horsham-pa/" do
          =image_tag "Camp-Adventureland.png", class: "ca-logo"
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.center.moreinfo-axe
      %h1 WHAT IS CAMP ADVENTURELAND?
      %p Welcome campers! Camp Adventureland has it all under one roof! We’re not just some cookie-cutter hatchet throwing company; our goal is to bring the next level of entertainment to you. Combining the sport of hatchet throwing and movie set-like escape rooms, we bring new adventures for you to experience at every visit.
      %p Our full-service menu lets you enjoy a night out with your family that’s unforgettable. Gather your family, friends, or coworkers and our highly skilled counselors will take care of the rest! Whatever your age, when you walk through our arches you will be transported back in time to enjoy an ’80s summer camp theme. Equal parts challenging and thrilling, Camp Adventureland has something for everyone!
      %br
      =link_to "Book Now!", "https://campadventureland.com/horsham-pa/", class:'btn btn-success'
      %br
      %br
      %br