.container
  %h1 Escape Room FAQ
  %p New to Escape Rooms?  Well, we have you covered.  Take a look at some of these interesting topics
  %ul.list-unstyled
    %li
      =link_to "What is an Escape Room?", anchor: "what-is"
    %li
      =link_to "Does my group join other groups?", anchor: "other-groups"
    %li
      =link_to "How does it work?", anchor: "how-does-it-work"
    %li
      =link_to "How much does it cost?", anchor: "cost"
    %li
      =link_to "How many people can play?", anchor: "number-players"
    %li
      =link_to "Can we BYOB?", anchor: "byob"
  %ul.list-unstyled
    %li
      %br
      %a{name:"what-is"}
        %h4 What is an Escape Room?
      %p
        Escape Games are a new craze sweeping the world!  Their popularity surged overseas in Asia, and
        have since spread quickly from country to country until finally, it arrived here!
      %p
        Inspired by mobile escape the room games, this is a real life version where you and a team
        are placed in a scenario where you are encouraged
        to touch and play with items in the room to hopefully solve all the puzzles and eventually...
        'Escape the Room!'
      %p
        Every escape room is different! Each room offers a completely new set of puzzles.  Project Escape
        currently has only one room, but we're building quickly!  So keep an eye out for new update on our
        %i.fa.fa-facebook
        acebook and
        %i.fa.fa-twitter
        Twitter pages!
      %p
        Whether you've played an escape room already or not, Project Escape offers an experience unique
        to any other you've had before!  Don't wait! Get your friends together and book now!
    %li
      %br
      %a{name:"other-groups"}
        %h4 Does my group join other groups?
      %p
        The only way your group is guaranteed to play by themselves is if you book the
        entire room.  (all 8 or 10 slots, for the Wizard Secret or Big Score, respectively)
      %p
        Of course, there is always a chance you and your group will play solo if no other groups book
        for the same time slot as you.  You have a much better chance at playing solo during weekday time slots,
        rather than on the weekend.
    %li
      %br
      %a{name:"how-does-it-work"}
        %h4 How does it work?
      %p
        The set-up is simple.  Get together with some of your friends (up to 10 for private parties!)
        and book a time!
        Once booked, make sure to come at least 15 minutes early (we recommend 30 minutes!).
      %p
        Our lobby is a comfortable hangout zone where you can relax, or play some fun games
        while you wait! Unfortunately, we have to start on time for each group, whether
        you are here or not!  So make sure you prepare accordingly and get here with time to
        spare!
      %p
        We will introduce you to our scenario and layout the rules, then the time limit is
        set and you're on your own!
      %p
        While in the game, you and your team must work together to solve the puzzles laid out for you
        and escape within 1 hour.  This is an interactive and cooperative game.
        You're expected to work with your teammates and explore the scenario laid out in front of you.
        While doing so, you'll be exposed to a intricate back story, and feel like you're right in
        the middle of it!
      %p
        Only Project Escape offers such a immersive escape game experience.  You won't find something like this
        anywhere else in the Philadelphia area!
    %li
      %br
      %a{name:"cost"}
        %h4 How much does it cost?
      %p
        The cost is
        %b $29
        per person.
    %li
      %br
      %a{name:"number-players"}
        %h4 How many people can play?
      %p
        There is a
        %b minimum
        and
        %b maximum
        for each of our two rooms.
      %p
        For the
        %span.yellow Wizard's Secret
        , we require a
        %b minimum of 3 players
        to book a new time slot.  However,
        if you have less than that, you can always join a preexisting group that has availability.
      %p
        The
        %b maximum
        for our
        %span.yellow Wizard's Secret
        is
        %b 8 players.
        If you book the entire room, we can allow you
        to bring some extra players as long as you understand that the room will get more cramped.  We
        recommend you booking the 8 players first to ensure you get your desired booking time, then you can
        give us a call to add the additional players. (the absolute maximum is 10 players).
      %p
        For
        %span.yellow The Big Score, Theft of the Millennium Diamond
        , we require a
        %b minimum of 4 players
        to book a new time slot.  Similarly to the Wizard's Secret, if you'd like to book with less players
        than that, please look for a booking that is already open.
      %p
        The maximum for our Diamond Heist is
        %b 10 players.
        Like the Wizard's Secret, you can bring up to 12 players along if you book the entire room.
    %li
      %br
      %a{name:"byob"}
        %h4
      %p
        If you rent the party room ($50 an hour) you can bring your own alcohol.  We have the right to
        refuse entry to our room if you appear to be too intoxicated.  Alcohol should only be served if
        no minors are present.