=link_to "Book Now!", "https://www.projectescaperoom.com/bookings", class:"btn btn-success #{@full_width_css}"
-#=link_to "Book Now!", "Project Escape Room Conshohocken", href: "https://www.peek.com/s/16b0211e-1bb1-4e9e-a9d6-e76a74fa5b70/bEq9", "data-button-text"=>"Book Now!", class: "btn btn-success #{@full_width_css}"